.booking {
  display: flex;
}

.booking-name {
  font-weight: 400;
  color: #3c4043;
  font-size: 12px;
}
.booking-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  margin-top: 6px;
  margin-right: 5px;
}
