.day-heading {
  background-color: white;
  color: #6D6E70;
  padding: 8px;
}

.row {
  padding-left: 1px;
}

.day {
  background-color: white;
  overflow: auto;
  min-height: 80px;
}

.day, .col.heading {
  outline: #dadce0 1px solid;
}
