.login {
    margin-top: 80px;
    margin-bottom: 100px;
}

.login .form {
    background-color: #3F6FB7;
    height: 416px;
}

.login img {
    max-width: 100%;
    max-height: 100%;
}

.error-message {
    padding-left: 22px;
    color: red;
    font-weight: bold
}