
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 1006px;
  }
}

.title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 36px;
}

.header {
  position: relative;
  padding-top: 20px;

  img
  {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
  }

  .title {
    float: left;
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
  }
}

.navigator {
  color: lightgray;

  .arrow-left {
    text-align: left;
    padding-left: 30px;
    &:hover {
      cursor: pointer;
    }
  }

  .arrow-right {
    text-align: right;
    padding-right: 30px;
    &:hover {
      cursor: pointer;
    }
  }

  .title {
    text-align: center;
    padding-top: 4px;
  }
}

.month {
  .dayTitle {
    color: mediumpurple;
    text-align: center;
  }

  .day {
    background-color: white;
    border: 1px solid black;
  }
}

.day {
  margin-top: 3px;
  min-height: 90px;
}